body {margin: 0;}

div.sad-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #1bc2a2;
}

.sad-nav ul li {
  display: block;
  position: relative;
  float: left;
  background: #1bc2a2;
}

/* This hides the dropdowns */


div.sad-nav li ul { display: none; }

div.sad-nav ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

/*ul li a:hover { background: #2c3e50; }*/

/* Display the dropdown */


/*li:hover > ul {
  display: block;
  position: absolute;
}*/

/*li:hover li { float: none; }*/

/*li:hover a { background: #1bc2a2; }*/


/*didn't translate to jquery*/
/*li:hover li a:hover { background: #2c3e50; }*/ 

div.sad-nav .main-navigation li ul li { border-top: 0; }

/* Displays second level dropdowns to the right of the first level dropdown */


div.sad-nav ul ul ul {
  left: 100%;
  top: 0;
}

/* Simple clearfix */



div.sad-nav ul:before,
div.sad-nav ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

div.sad-nav ul:after { clear: both; }
@media screen and (max-width: 600px){
    div.sad-nav ul.topnav li.right,
    ul.topnav li {float: none;}
}
